@page "/produtos"
@inject AppDbContext DbContext

<h1>Catálogo</h1>

<RadzenStack Orientation="Orientation.Vertical">
    <RadzenStack Orientation="Orientation.Vertical" Gap="4px">
        Nome:
        <RadzenTextBox @bind-Value="produto.Nome" MaxLength="255" Name="NomeProduto" />
    </RadzenStack>

    <RadzenStack Orientation="Orientation.Vertical" Gap="4px">
        Preço:
        <RadzenNumeric @bind-Value="produto.Preco" />
    </RadzenStack>

    <RadzenStack Orientation="Orientation.Vertical" Gap="4px">
        Categoria:
        <RadzenTextBox @bind-Value="produto.Categoria" MaxLength="255" Name="CategoriaProduto" />
    </RadzenStack>

    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="4px">
        <RadzenButton Click="@Confirma" Text="Salvar" Icon="save" ButtonStyle="ButtonStyle.Primary" />
    </RadzenStack>
</RadzenStack>

<h1>Produtos cadastrados:</h1>

@foreach(var produto in DbContext.Produtos.ToList())
{
    <p>@produto.Nome</p>
}

@code {
    Produto produto = new Produto();

    private void Confirma()
    {
        DbContext.Produtos.Add(produto);
        DbContext.SaveChanges();
    }
}